body {

    margin: 0;
    overflow: hidden;
	font-family: Arial;
}

*:focus {

    outline: none;
}

.main {

    display: flex;
    flex-direction: column;

    .background {

        position: absolute;
        left: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-position: center;
        background-size: cover;
    }

    .terminal {

        padding: 10px;
    }
}
