.navbar {

    width: 100vw;
    height: 30px;

    display: flex;
    justify-content: space-between;

    -webkit-app-region: drag;

    .buttons {

        display: flex;
        justify-content: flex-end;

        button {

            -webkit-app-region: no-drag;

            background: none;
            border: none;
            fill: #a7a7a7;

            margin: 0 5px;
            cursor: pointer;

            &:hover {

                fill: #FFFFFF;
            }
        }
    }
}
