.settings {

    width: 100vw;
    height: calc(100vh - 30px);
    user-select: none;
    z-index: 1;
    display: flex;
    flex-direction: row;

    .sidebar {

        width: 150px;
        height: 100%;
        display: flex;
        flex-direction: column;

        button {

            background: none;
            border: none;
            font-size: 16px;
            padding: 8px 0 8px 16px;
            text-align: left;
            cursor: pointer;
        }
    }

    .section {

        width: calc(100vw - 150px);
        height: 100%;
    }
}
