.tabs {

  display: flex;
  justify-content: flex-start;
  width: 100%;

  .tab {

	cursor: pointer;

    -webkit-app-region: no-drag;

    display: flex;
	align-items: center;
    border-right: 1px solid var(--border);

	.icon {

	  width: 15px;
	  height: 15px;
	  padding-left: 15px;
	}

    .tab-title, .tab-close {

      background: none;
      border: none;
      color: var(--color);
      min-width: 50px;

      padding: 0 15px;
      cursor: pointer;

      transition: .3s ease;

      &.selected {

        color: var(--hover);
      }
    }

    .tab-close {

      margin: 0;
      opacity: 0;
      color: var(--color);

      &:hover {

        color: var(--hover);
      }
    }

    &:hover {

      .tab-title {

        color: var(--hover);
      }

      .tab-close {

        opacity: 1;
      }
    }
  }

  .tab-create {

    -webkit-app-region: no-drag;

    background: none;
    border: none;
    color: var(--color);

    padding: 0 15px;
    cursor: pointer;
    transition: .3s ease;

    &:hover {

      color: var(--hover);
    }
  }
}
