<!DOCTYPE html>
<html>
    <head>

        <!-- Meta -->
        <meta charset="UTF-8">

        <!-- Style -->
        <link rel="stylesheet" href="../node_modules/xterm/lib/xterm.css">
        <link rel="stylesheet" href="../css/app.css">

    </head>
    <body>

        <div class="content">
            <div class="top">
                <img src="../assets/squid.png">
                <p>Open a new tab with <code>CTRL+T</code></p>
                <p>Open settings tab with <code>CTRL+Enter</code></p>
                <p>Switch tab with <code>CTRL+TAB</code></p>
                <p>Close tab with <code>CTRL+W</code></p>
            </div>
            <div class="bottom">
                <p>Squid v0.0.1 - QuiiBz</p>
            </div>
        </div>

    </body>
</html>