body {

    padding: 0;
    margin: 0;

    overflow-x: hidden;
    overflow-y: hidden;

    background-color: #0F0F0F;

    font-family: 'Fira Code', monospace;

    user-select: none;
}

*:focus {

    outline: none;
}

.nav {

    width: 100vw;
    height: 30px;

    background-color: #0F0F0F;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    -webkit-app-region: drag;
}

.nav .button {

    background: none;
    border: none;

    width: 50px;
    height: 30px;

    fill: #646464;

    transition: .3s ease;

    -webkit-app-region: no-drag;
}

.nav .button:hover {

    cursor: pointer;

    fill: #ffffff;
}

.nav .button.red:hover {

    background-color: #c0392b;
}

.main {

    width: 100vw;
    height: calc(100vh - 30px);

    background-color: #0F0F0F;
}

.xterm {

    padding: 15px;
}

.hidden {

    display: none;
}

.xterm-screen {

    width: calc(100vw - 30px) !important;
    height: calc(100vh - 60px - 43px) !important;
}

.xterm-background {

    content: '';

    background-image: url('/');
    background-size: cover;
    opacity: 0.5;
    top: -10px;
    left: -10px;
    bottom: 0;
    right: 0;
    position: absolute;
}

.tabs {

    display: flex;
    flex-direction: row;
    align-items: center;

    -webkit-app-region: no-drag;

    border-bottom: 1px solid #151515;
}

.tab {

    padding: 10px 50px;

    color: #646464;
    border: 1px solid #151515;

    text-align: center;
    transition: .3s ease;
}

.tab.active {

    color: #ffffff;
}

.tab:hover {

    cursor: pointer;

    color: #ffffff;
}

.gu-mirror {

    padding: 0 !important;
    line-height: 42px !important;
    background-color: #0F0F0F;
}

.gu-transit {

    border: 1px dashed #FFFFFF;
}

.apply-update {

    color: #22da6e;
    font-size: 12px;

    position: absolute;
    bottom: 5px;
    right: 5px;

    z-index: 999;

    border: 1px solid #22da6e;
    border-radius: 3px;
    padding: 2px 5px;
}

.apply-update:hover {

    cursor: pointer;
}

.index {

    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    width: 100vw;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.index h2 {

    font-size: 20px;
    color: #ffffff;
    font-weight: 100;

    margin: 50px 0 20px 0;
}

.logo {

    width: 15%;
}

.index-buttons {

    display: flex;
    align-items: center;
    flex-direction: row;
}

.index-btn {

    font-family: 'Fira Code';
    font-size: 14px;

    background: none;
    color: #646464;

    border: 1px solid #151515;
    border-radius: 5px;
    padding: 10px 20px;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0 10px;

    transition: .3s ease;
}

.index-btn:hover {

    background-color: #151515;
    color: #FFFFFF;

    cursor: pointer;
}

.index-btn svg {

    width: 15px;
    margin-right: 10px;
}

.hosts {

    overflow-y: scroll;
    max-height: 30vh;
}

.host {

    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 10px 20px;

    border: 1px solid #151515;
    border-radius: 5px;
}

.host-info-container {

    display: flex;
    flex-direction: column;
}

.host-name {

    font-size: 18px;
    color: #ffffff;
    margin: 0;
}

.host-info {

    font-size: 12px;
    color: #646464;
    margin: 0;
}

.host-btn {

    background: none;
    color: #22da6e;
    font-size: 14px;

    border: 1px solid #22da6e;
    border-radius: 5px;

    padding: 5px 10px;
    text-shadow: 0 0 1px #22da6e;
    margin-left: 50px;

    transition: .3s ease;
}

.host-btn:hover {

    text-shadow: 0 0 10px #22da6e;
    cursor: pointer;
}

.host-btn.sftp {

    color: #82aaff;
    border: 1px solid #82aaff;
    text-shadow: 0 0 1px #82aaff;

    margin-left: 10px;
}

.host-btn.sftp:hover {

    text-shadow: 0 0 10px #82aaff;
    cursor: not-allowed;
}

::-webkit-scrollbar {

    background: none;
    width: 10px;
}

::-webkit-scrollbar-thumb:window-inactive, ::-webkit-scrollbar-thumb {
    background: #232a2d;
    border-radius: 5px;
}
